<div class="wrap cf">
	<div class="heading cf">
		<h1>Mi carrito</h1>
		<a href="#" class="continue">Continuar comprando</a>
	</div>

	<li class="list-group-item" *ngFor="let cartItem of cartItemList">
		<app-cart-item></app-cart-item>
	</li>

	<div class="subtotal cf">
		<ul>
			<li class="totalRow final"><span class="label">Total</span><span class="value">{{cartItemList.precio}}</span></li>
			<li class="totalRow"><a routerLink="/checkout" class="btn continue">Checkout</a></li>
	  	</ul>
	</div>
</div>

