<div class="card">
  <div class="img-box">
    <img src="https://static.wixstatic.com/media/5854b3_09a41c6e92b34befa559011ef3a5a9b1~mv2.jpg/v1/fill/w_890,h_890,al_c,q_85/5854b3_09a41c6e92b34befa559011ef3a5a9b1~mv2.jpg" alt="" class="itemImg"/>
  </div>
  <div class="card-body">
    <p><strong>Titulo</strong></p>
    <p class="card-text">Descripcion</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-primary">Carrito</button>
      </div>
      <small><strong>{{50000 | currency:"ARS":"$"}}</strong></small>
    </div>
  </div>
</div>

