.card {
    margin-top: 30px;
    border-radius: 0;
}

.img-box {
    max-width: 100%;
    overflow: hidden;
  }

img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover; 
    text-align: center;
}