<div class="login-box">
    <body class="text-center">
        <form class="form-signin">
            <img class="mb-4" src="https://img00.deviantart.net/c103/i/2018/158/5/9/online_store_logo_by_creative_p-dcdp6t3.jpg" alt="" width="250" height="250">
            <h1 class="h3 mb-3 font-weight-normal">Acceder</h1>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <br>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contrasena" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recordarme
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesion</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
        </form>
    </body>
</div>
