.navbar {
    margin-bottom: 10px;
    min-height: 50px;
    position: relative;
    z-index: 3;
}

.nav-link{
    font-size: 13px;
    font-weight: 700;
    padding: 10px 15px;
    text-transform: uppercase;
}
