<nav class="navbar navbar-expand-lg bg-light container">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="">
        <img src="https://www.logolynx.com/images/logolynx/a6/a671ef222a6e136f8fe7fd9cfc97e57b.png" alt="" style="height: 100px;">
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="carrito">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Compras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="checkout">Check-out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="login">Iniciar sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="error">404</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

