<div class="wrap cf">
	<div class="heading cf">
		<h1>Mis compras</h1>
	</div>

	<li class="list-group-item">
		<div class="cart">
      <div class="fecha-compra" *ngFor="let order of orders">
        <h3>Fecha de compra: {{order.fechaDeCompra}}</h3>
      </div>
      <ul class="cartWrap">
          <li class="items odd">
              <div class="infoWrap">
                  <div class="cartSection" *ngFor="let product of orderProducts">
                      <img src={{product.publicacion.imagenPublicacion}} alt="" class="itemImg" style="height: 100px;"/>
                      <h3>{{product.publicacion.titulo}}</h3>
                      <p class="itemNumber">{{product.publicacion.descripcion}}</p><br>
                      <p>{{product.cantidad}} x {{product.publicacion.precio | currency:"ARS":"$"}}</p>
                  </div>
              </div>

          </li>
      </ul>
    </div>
	</li>
</div>

