<div class="container">
  <div class="usuario">
    <h4>Compras de {{customerName}}</h4>
  </div>
  <hr>
  <div class="card-table" *ngFor="let order of orders; let i=index">
    <div class="cart-product">
      <table class="table table-response">
        <thead class="t-head">
          <tr>
            <th>Fecha compra</th>
            <th>Producto</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
            <th>SubTotal</th>
          </tr>
        </thead>
        <tbody class="t-body" *ngFor="let product of order.carrito.publicacionesPorCarrito">
          <tr>
            <td>{{order.fechaDeCompra}}</td>
            <td>{{product.publicacion.titulo}}</td>
            <td>{{product.publicacion.descripcion}}</td>
            <td>{{product.cantidad}}</td>
            <td>{{product.precioUnitario | currency:"ARS":"$"}}</td>
            <td>{{(product.cantidad * product.precioUnitario) | currency:"ARS":"$"}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
