<div class="form-box">

    <div class="card-header">
        <strong>Filtros</strong>
    </div>

    <form>
        <div class="form-group">
            <label for="from">Desde</label>
            <input type="number" id="from" class="from-control">
        </div>
    
        <div class="to-group">
            <label for="to">Hasta</label>
            <input type="number" id="to" class="to-control">
        </div>
    
        <button type="submit" class="btn btn-primary">Filtrar</button>
    
    </form>
</div> 
