<div class="container">
    <div class="row">
        <div class="col-2">
          <div class="card-box">
            <div class="categoria-header">
                <strong>CATEGORIAS</strong>
            </div>

            <div class="categoria-box">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Remeras</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">Pantalones</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">Buzos</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">Camperas</label>
                </div>

                <button>aplicar filtro</button>
            </div>

            <div class="tienda-header">
                <strong>TIENDAS</strong>
            </div>

            <div class="tienda-box">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Minter</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">Heels</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">Rankle</label>
                </div>
            </div>
        </div>

        </div>
        <div class="col-10">
            <div class="row">
              <div class="col-3" *ngFor="let product of products">
                <div class="card">
                  <div class="img-box">
                    <img src={{product.imagenPublicacion}} alt="" class="itemImg"/>
                  </div>
                  <div class="card-body">
                    <p><strong>{{product.titulo}}</strong></p>
                    <p class="card-text">{{product.descripcion}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary">Carrito</button>
                      </div>
                      <small><strong>{{product.precio | currency:"ARS":"$"}}</strong></small>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
