<div class="container">
    <div class="row ">
        <div class="col-sm-12 col-md-2">
          <div class="categoria-box">
            <div class="categoria-header-box">
                <strong>CATEGORIAS</strong>
            </div>

            <div class="categoria-box">
                <div class="categoria-item">
                  <button class="btn filter-btn-primary" (click)="getProductsByCategory('Remeras')">Remeras</button>
                </div>

                <div class="categoria-item">
                  <button class="btn filter-btn-primary" (click)="getProductsByCategory('Buzos')">Buzos</button>
                </div>

                <div class="categoria-item">
                  <button class="btn filter-btn-primary" (click)="getProductsByCategory('Camperas')">Camperas</button>
                </div>

                <div class="categoria-item">
                  <button class="btn filter-btn-primary" (click)="getProductsByCategory('Pantalones')">Pantalones</button>
                </div>
            </div>

            <div class="tienda-header">
                <strong>TIENDAS</strong>
            </div>

            <div class="tienda-box">
              <div class="tienda-item">
                <button class="btn filter-btn-primary" (click)="getProductsByStore('Minter')">Minter</button>
              </div>

              <div class="tienda-item">
                <button class="btn filter-btn-primary" (click)="getProductsByStore('Heels')">Heels</button>
              </div>

              <div class="tienda-item">
                <button class="btn filter-btn-primary" (click)="getProductsByStore('Rankle')">Rankle</button>
              </div>

              <div class="tienda-item">
                <button class="btn filter-btn-primary" (click)="getProductsByStore('Olokuti')">Olokuti</button>
              </div>

              <div class="tienda-item">
                <button class="btn filter-btn-primary" (click)="getProductsByStore('Semavru')">Semavru</button>
              </div>

              <hr>

              <div class="tienda-item">
                <button class="btn filter-btn-danger" (click)="getAllProducts()">Limpiar filtro</button>
              </div>

            </div>
        </div>

        </div>
        <div class="col-sm-12 col-md-10">
            <div class="row">
              <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products">
                <div class="card">
                  <img src={{product.imagenPublicacion}} class="card-img-top" width="100%" height="225">
                  <div class="card-body">
                    <p class="card-text"><strong>{{product.titulo}}</strong></p>
                    <p class="card-text">{{product.descripcion}}</p>
                    <p class="card-text"><small class="text-muted">{{product.vendedor.tienda}}</small></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary" (click)="addProductToCart(product)">Comprar</button>
                      </div>
                      <small><strong>{{product.precio | currency:"ARS":"$"}}</strong></small>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

